In [33]:
import pandas as pd
import numpy as np

In [42]:
demons = pd.read_csv('demons.csv', sep='\n')
demons = demons.drop_duplicates()

In [43]:
demons.head()

          Name
0        Aamon
1      Abaddon
2  Abezethibou
3      Abraxas
4       Abyzou

In [44]:
demons.describe()

           Name
count       232
unique      232
top     Rusalka
freq          1